body {
    margin: 0;
    padding: 0;
}

/* ------------------------------------header-------------------------------------------------------------------- */
header { 
    margin-top: 0;
    padding-top: 0;
    height: 80px;
    position: sticky;
    top: 0;
}  
.navbar_menu {
    display: flex;
    justify-content: space-around; 
    height: 100px;
   align-items: center;
   background-color: white;
    
}
.boutons {
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type:none;
    margin:0;
}
.boutons a {
    text-decoration: none;
    color: black;
}
.boutons li:hover {
color:#00b39b;
}

.boutons a:hover {
color:#00b39b;
}
    .logo-docplanner {
        width: 250px;
        height: 80px;
        margin-left: 80px;
        margin-top: 10px;
     
    
    }
  
    .text{
        font-style: italic;
    }
    /* -------------------------------------------------dropdown------------------------------------------------------ */
    .dropbtn {

        color: black;
        padding: 16px;
        font-size: 16px;
        cursor: pointer;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {
      background-color: #f1f1f1;
      color:#00b39b;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      .bob{
        display: flex;
        align-items: center;
        margin-left: 46%;

      }
      .titre{
        margin-left: 420px;
        color: turquoise;
        font-size: 40px;
       
      }
      .paragraphe{
        display: flex;
        padding-left: 300px;
        padding-right: 300px;
        margin-right: 50px;
        margin-left:20px ;
        background-color: white;
        font-size: 25px;
        font-style: italic;
        
      }
      .section2{
        display: flex;
        justify-content: space-around;
        margin-left: 300px;
        margin-right: 60px;
        margin-top: 20px;
        width: 1000px;
        padding-bottom: 50px;

      }
      #p1{
        padding: 10px;
        margin: 30px;
        background-color: lightgreen;
        border-radius: 10%;
      }
      #p2{
        padding: 10px;
        margin: 30px;
        background-color: lightblue;
        border-radius: 10%;
      }
      #p3{
        padding: 10px;
        margin: 30px;
        background-color: lightgrey;
        border-radius: 10%;
        
      }
    
      .brands-p{
        padding-right: 10px;
        padding-top: 100px;
        padding-left: 10px;
        margin-left: 0px;
        color:turquoise;
        font-size: 38px;
        font-style: italic;
      }
      .brands-p{
        display: flex;
        justify-content: center;
      }
      .brands__logos {
        width: 70%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: space-between;
      }
      .brands-li svg path{ 
         fill: #C4C4C4;
      }
      .brands-li svg path:hover{
        fill: turquoise; 
        
      }
      .brands__logos li{
        list-style-type: none;

      }

     .section3{
        background-color: turquoise;
        display: flex;
        padding-top: 50px;
        padding-bottom: 10px;
        margin-bottom: 50px; 
     }
     .left{
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 50px;
        background-color: whitesmoke;
        margin-bottom: 200px;
        margin-left: 180px;
        margin-right: 30px;
        margin-top: 50px;
        border-radius: 10%;
        
     }
     .right{
        background-color: turquoise;
        display:flex;
        margin-left: 10px;
        margin-right: 1 0px;
        margin-top: 30px;
        margin-bottom: 10px;
        padding-bottom: 10px;
        padding-right: 0px;
     }
     .box{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 0px;
        padding-right: 20px;
        padding-left: 80px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 180px;
        border-radius: 10%;
        background-color: whitesmoke;
    }
    .bob6{
        color:turquoise;
    }
    .section4{ 
       
        padding-left: 500px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-style: oblique;

    }
    .section5{
        padding-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-color: lightyellow;
        gap:50px;
    }
    .section5 button{
        background-color: transparent;
    }
 
    #section6{
        padding-left: 550px;
        padding-right: 20px;
        margin-bottom: 20px;
    }
    #button3{
        padding-left: 600px;
        padding-right: 20px;
        margin-bottom: 20px;
    }
    .footer{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        font-style: italic;
        background-color: turquoise ;
    }
    .bob9{
        color:turquoise;
    }

